<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Bienvenue! {% endblock %}</title>
        {% block stylesheets  %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/fontawsome/css/all.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />

        {% endblock %}
    </head>
    <body  >
        {% block body %}

<nav class="navbar navbar-expand-sm navbar-dark colornav " style="background-color: rgba(3, 5, 7, 0.15);">
  <a class="navbar-brand" href="#">Parson</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <form class="form-inline ml-auto mr-2 my-2 my-lg-0">

	  <button class="btn btn-outline-info my-2 my-sm-0" type="submit" formaction="/home">Login</button>
      <button class="btn btn-outline-info ml-2 my-2 my-sm-0" type="submit" formaction="/register">Register</button>

    </form>
  </div>
</nav>






       <div class="container">
	<div class="d-flex justify-content-center align-items-center h-100">
		<div class="card">
			<div class="card-header">
				<h3> Bienvenue </h3>	
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="form-group">

                
                  <div class="form-check">
                   <input class="form-check-input" type="checkbox" id="gridCheck">
                   <label class="form-check-label text-white" for="gridCheck">
                     Je suis enseignant
                   </label>
                   </div>
                 </div>


					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right btn-costom text-white">
					</div>
                    
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center">
					<p>{{ content }} <p> 
				</div>
			</div>
		</div>
	</div>
</div>

        {% endblock %}
        {% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



        {% endblock %}
    </body>
</html>
